{
  "root": true,
  "extends": [
    "plugin:vue/vue3-essential",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier/skip-formatting"
  ],
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["error", "never"]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
